@model WebClient.Models.Home.HomeVM

@if (Model.Features != null)
{
    <section id="feature">
        <div class="container">
            <div class="center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                <h2>@Model.Features.Title</h2>
                <p class="lead">
                    @Model.Features.Description
                </p>
            </div>
            <div class="row">
                <div class="features">
                    @foreach (var feature in Model.Features.Thumbnails)
                    {
                        @Html.Partial("Feature", feature)

                    }
                </div>
            </div>
        </div>
    </section>

}

@if (Model.Galleries != null)
{
    <section id="recent-works">
        <div class="container">
            <div class="center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                <h2>@Model.Galleries.Title</h2>
                <p class="lead">@Model.Galleries.Description</p>
            </div>
            <div class="row">
                @foreach (var gallery in Model.Galleries.Thumbnails)
                {
                    @Html.Partial("Gallery", gallery)
                }
            </div>
        </div>
    </section>
}

@if (Model.Services != null)
{
    <section id="services" class="service-item">
        <div class="container">
            <div class="center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                <h2>@Model.Services.Title</h2>
                <p class="lead">@Model.Services.Thumbnails</p>
            </div>
            <div class="row">
                @foreach (var service in Model.Services.Thumbnails)
                {
                    @Html.Partial("Service", service)
                }
            </div>
        </div>
    </section>
}

<section id="partner">
    <div class="container">
        <div class="center wow fadeInDown" style="visibility: hidden; animation-name: none;">
            <h2>Community Partners</h2>
            <p class="lead">بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيم<br> sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
        <div class="partners">
            <ul>
                <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="images/partners/partner1.png" style="visibility: hidden; animation-duration: 1000ms; animation-delay: 300ms; animation-name: none;"></a></li>
                <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" src="images/partners/partner2.png" style="visibility: hidden; animation-duration: 1000ms; animation-delay: 600ms; animation-name: none;"></a></li>
                <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms" src="images/partners/partner3.png" style="visibility: hidden; animation-duration: 1000ms; animation-delay: 900ms; animation-name: none;"></a></li>
                <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms" src="images/partners/partner4.png" style="visibility: hidden; animation-duration: 1000ms; animation-delay: 1200ms; animation-name: none;"></a></li>
                <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1500ms" src="images/partners/partner5.png" style="visibility: hidden; animation-duration: 1000ms; animation-delay: 1500ms; animation-name: none;"></a></li>
            </ul>
        </div>
    </div>
</section>
<section id="conatcat-info">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: hidden; animation-duration: 1000ms; animation-delay: 600ms; animation-name: none;">
                    <div class="pull-left">
                        <img class="img-responsive" src="images/service/phone.png" width="60" height="60" alt="Phone">
                    </div>
                    <div class="media-body">
                        <h2>Have a question about our Masjid or Islam?</h2>
                        <p>بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيم<br>sed do eiusmod tempor incididunt ut labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation +0123 456 70 80</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>